@model PPRModel.Model.ProductProjectCategoryModel
<style>
    .form-horizontal .controls {
        margin-left: 0px;
    }

    .form-horizontal .control-label {
        padding-top: 15px;
        width: 130px;
        text-align: center;
    }

    .select2-container {
        width: 52%;
    }
</style>
@if (Model != null)
{
    <div id="content-header">
        <div id="breadcrumb">
            @if (Model.Id <= 0)
            {
                <a href="~/ProductProjectCategory/Index" class="tip-bottom"><i class="icon-home"></i>Product Project Category</a>
                <a href="~/ProductProjectCategory/Create">Add New Product Project Category</a>
            }
            else
            {
                <a href="~/ProductProjectCategory/Index" class="tip-bottom"><i class="icon-home"></i>Product Project Category</a>
                <a href="Javascript:void(0)">Edit Product Project Category</a>
            }
        </div>
        @if (Model.Id <= 0)
        {
            <h1>Add New Product Project Category</h1>
        }
        else
        {
    <h1>Edit Product Project Category</h1>
        }

    </div>

    <div class="container-fluid content">
        <div class="row-fluid">

            <div class="span12">
                <div class="widget-box">
                    @if (Model.Id <= 0)
                    {


                        <div class="widget-title">
                            <span class="icon">
                                <i class="icon-info-sign"></i>
                            </span>
                            <h5>Add</h5>
                        </div>
                    }
                    else
                    {
                        <div class="widget-title">
                            <span class="icon">
                                <i class="icon-info-sign"></i>
                            </span>
                            <h5>Edit</h5>
                        </div>
                    }

                    <div class="widget-content nopadding">
                        <div class="form-horizontal">
                            <table class="table table table-condensed ">
                                <thead>

                                </thead>
                                <tbody>
                                    <tr class="odd gradeX">
                                        <td>
                                            <label class="control-label">Name</label>
                                            <div class="controls">
                                                @Html.TextBoxFor(m => m.Name, new { @id = "txtName", @Placeholder = "Name", @class = "form-control m-input", @required = "required" ,@maxlength="100"})
                                                @Html.HiddenFor(m => m.Id)
                                            </div>
                                            <span class="m-form__help">@Html.ValidationMessageFor(m => m.Name)</span>
                                        </td>
                                        <td>
                                            <label class="control-label">Description</label>
                                            <div class="controls">
                                                @Html.TextBoxFor(m => m.Discription, new { @id = "txtDescriptiob", @class = "form-control m-input", @placeholder = "Description", @required = "required", @maxlength = "200" })
                                            </div>
                                            <span class="m-form__help">@Html.ValidationMessageFor(m => m.Discription)</span>
                                        </td>
                                        <td>
                                            <label class="control-label">Status</label>
                                            <div class="controls">
                                                @Html.DropDownListFor(m => m.Status, Model._StatusList, new { @id = "ddltStatus", @class = "form-control m-input" })
                                                @Html.ValidationMessageFor(m => m.Status, "", new { @class = "m-form__help" })
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="form-actions" style="text-align: center;padding-left:0px">
                                <a href="~/ProductProjectCategory/Index" class="btn btn-danger">Cancel</a>
                                <a href="JavaScript:Void(0);" class="btn btn-primary" onclick="Reset();">Reset</a>
                                @if (Model.Id == 0)
                                {
                                    <button type="submit" class="btn btn-success">Save</button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-info">Update</button>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    function Reset() {
        //$("#ddltStatus").val(0).select2();
        $('.m-input').val('');

    }
</script>