@using PPRModel.Model
@model ProductProjectCategoryModel
@{
    ViewBag.Title = "Product Project Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 0;
}
<style>
    .tblrespoonsive {
        overflow-x: auto;
    }
    td.textcenter {
        text-align:center
    }
    .sweet-alert .sa-icon.sa-warning {
        border-color: #F8BB86;
        left: 10px;
    }
    /* .sweat-alert-inner .sa-icon .sa-warning .col-xs-3 .pulseWarning {
        left: 10px !important;
    }*/
</style>
<link href="~/Content/css/sweetalert.css" rel="stylesheet" />
<div id="content">
    <div id="content-header">
        <div id="breadcrumb"> <a href="~/Dashboard/Index" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="" class="current">Activity Master</a> </div>
        <h1>Product Project Category</h1>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div>
                    <a href="@Url.Action("Create", "ProductProjectCategory")" class="btn btn-primary">
                        <span>
                            <i class="fa fa-plus"></i>
                            <span>New</span>
                        </span>
                    </a>
                </div>
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-th"></i></span>
                        <h5>Product Project Category Master List</h5>
                    </div>

                    <div class="widget-content nopadding tblrespoonsive">
                        <table class="table table-bordered data-table">
                            <thead>
                                <tr>
                                    <th>Sr. No.</th>
                                    <th style="display:none">ID</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Status</th>
                                    @if (Convert.ToInt16(Session["PPR_LoggedUserType"]) == 1)
                                    {
                                        <th>Action</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var data in Model._ProductProjectCategoryList)
                                {
                                    <tr class="gradeX">
                                        <td class="textcenter">@(++i)</td>
                                        <td style="display:none">@data.Id</td>
                                        <td class="textcenter">
                                            @data.Name
                                        </td>
                                        <td class="textcenter">@data.Discription</td>
                                        @if (@data.Status == "Active")
                                        {
                                            <td style="text-align: center;"><span class="badge badge-success">@data.Status</span></td>
                                        }
                                        else
                                        {
                                            <td style="text-align: center;"><span class="badge badge-danger">@data.Status</span></td>
                                        }
                                        @if (Convert.ToInt16(Session["PPR_LoggedUserType"]) == 1)
                                        {

                                            <td style="width: 11%;" class="textcenter">
                                                <a href="@Url.Action("Edit", "ProductProjectCategory", new { CategoryID = @data.Id })" class="btn btn-primary" title="Edit"><span class="fa fa-pencil"></span></a>
                                            </td>
                                        }
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/js/sweetalert-dev.js"></script>


