@using PPRModel.Model
@model LoginModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reset Password</title>
    <link rel="shortcut icon" type="image/png" href="../../img/Karam.png" />
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="~/Content/css/maruti-login.css" />
    @*<link href="~/Content/css/sweetalert.css" rel="stylesheet" />*@
</head>
<body>

    <div id="loginbox">
        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <form id="recoverform" action="#" class="form-vertical">
                <p class="normal_text">Enter your e-mail address below and we will send you OTP to recover a password.</p>

                <div class="controls">
                    @if (Model.UserID == "1")
                    {
                        <div class="main_input_box">
                            <span class="add-on"><i class="icon-lock"></i></span>
                            @Html.TextBoxFor(m => m.OldPassword, new { @Placeholder = "Enter Old Password", type = "Password", @id = "txtOldPassword", @autocomplete = "off" })
                            @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "m-form__help" })
                        </div>
                    }
                    <div class="main_input_box">
                        <span class="add-on"><i class="icon-lock"></i></span>
                        @Html.TextBoxFor(m => m.Password, new { @Placeholder = "Enter New Password", type = "Password", @id = "txtPassword", @autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "m-form__help" })
                    </div>
                    <div class="main_input_box">
                        <span class="add-on"><i class="icon-lock"></i></span>
                        @Html.TextBoxFor(m => m.ConfirmPassword, new { @Placeholder = "Enter Confirm New Password", type = "Password", @id = "txtConfirmPassword", @autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "m-form__help" })
                    </div>
                </div>
                <div class="form-actions">
                    <span class="pull-left"><a href="~/Account/Index" class="flip-link btn btn-inverse" id="to-login">&laquo; Back to login</a></span>
                    @*<span class="pull-right"><input type="submit" class="btn btn-info" value="Recover" /></span>*@
                    <span class="pull-right"><button type="submit" class="btn btn-info btnSubmit">Submit</button></span>
                </div>
                <span class="text-center errormsg" style="color:red;text-align:center;margin-left:5%"> @Html.Raw(@ViewBag.Message)</span>
            </form>

        }
    </div>
    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/maruti.login.js"></script>
    @*<script src=" ~ /Scripts/jquery-ui.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@
    <script type="text/javascript">
        $("#txtConfirmPassword").blur(function () {
            
            var pwd = $("#txtPassword").val();
            var confirmpwd = $("#txtConfirmPassword").val();
            if (pwd == confirmpwd) {
                $(".errormsg").text("");
                $(':input[type="submit"]').prop('disabled', false);
                return false;
            }
            else {
                $("#txtPassword").val('');
                $("#txtConfirmPassword").val('');
                $(".errormsg").text("New and confirm password is not same.");
                $(':input[type="submit"]').prop('disabled', true);
                return false;
            }
        });
        $('.btnSubmit').click(function () {
            
            if ($("#txtPassword").val() == null || $("#txtPassword").val() == '') {
                
                $(".errormsg").text("");
                $(".errormsg").text("Please Enter New Password.");
                return false;
            }
            else if ($("#txtConfirmPassword").val() == null || $("#txtConfirmPassword").val() == '') {
                
                $(".errormsg").text("");
                $(".errormsg").text("Please Enter New Confirm Password.");
                return false;
            }
                if (@Model.UserID == "1")
                    {
                    if ($("#txtOldPassword").val() == null || $("#txtOldPassword").val() == '')
                    {
                    $(".errormsg").text("");
                    $(".errormsg").text("Please Enter Old Password.");
                            return false;
                    }
                    }
                });
    </script>
</body>
</html>
